*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteudo {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
}

.list-group {
    border: none;
}